@import "@/app/styles";

.ReviewListItem {
  margin: 32px 0;

  &:last-child {
    margin-bottom: 0;
  }

  &-Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;
  }

  &-Info {
    display: flex;
    align-items: flex-start;
  }

  &-DisplayName {
    margin-right: 8px;
  }

  &-IconList {
    & .Icon {
      margin-left: 16px;
      width: 16px;
      cursor: pointer;
    }
  }

  &-Message {
    background-color: $secondary_bg_color;
    padding: 8px;
    border-radius: $border-radius;
  }
}
