@import "@/app/styles";

.ReviewListItem {
  margin: 16px 0;

  &:last-child {
    margin-bottom: 0;
  }

  &-Info {
    display: flex;
    align-items: flex-start;
  }

  &-DisplayName {
    margin-right: 8px;
  }

  &-Message {
    background-color: $secondary_bg_color;
    padding: 8px;
    border-radius: $border-radius;
  }
}
