$bg_color: rgba(31, 32, 41, 1); /* #1f2029 */
$secondary_bg_color: rgba(24, 24, 31, 1); /* #18181f */
$text_color: rgba(255, 255, 255, 1); /* #fff */
$link_color: rgba(0, 68, 187, 1); /* #0044BB */

//$bg_color: var(--tg-theme-bg-color);
//$secondary_bg_color: var(--tg-theme-secondary-bg-color);
//$text_color: var(--tg-theme-text-color);
//$link_color: var(--tg-theme-link-color);

$color-red: rgba(227, 18, 53, 1); /* #e31235 */
$color-light-red: rgba(251, 228, 227, 1); /* #fbe4e3 */
$color-light-red-hover: rgba(250, 219, 218, 1); /* #FADBDA */

$color-gray: rgba(62, 59, 80, 1); /* #3e3b50 */
