$bg_color: var(--tg-theme-bg-color);
$secondary_bg_color: var(--tg-theme-secondary-bg-color);
$text_color: var(--tg-theme-text-color);
$link_color: var(--tg-theme-link-color);

$color-red: rgba(227, 18, 53, 1); /* #e31235 */
$color-light-red: rgba(251, 228, 227, 1); /* #fbe4e3 */
$color-light-red-hover: rgba(250, 219, 218, 1); /* #FADBDA */

$color-gray: rgba(62, 59, 80, 1); /* #3e3b50 */
