@import "@/app/styles";

.Section {
  margin-bottom: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  &-Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding: 30px 16px 2px;
    margin-bottom: 16px;
  }

  &-Container {
    margin: 0 16px;
  }

  &-Title {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: $text_color;
    }
  }
}
