@import "@/app/styles";

.LoginPage {
  display: flex;
  justify-content: center;
  height: 100vh;

  &-Center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-direction: column;
    max-width: 470px;
    width: 100%;
  }

  &-Content {
    padding: 24px;
    width: 100%;
    height: auto;
    border-radius: $border-radius;
    background-color: $secondary_bg_color;
  }

  &-Title {
    margin-bottom: 25px;
    text-align: center;
  }

  &-NoAccount {
    text-align: center;

    span {
      margin-right: 10px;
    }

    a,
    a span {
      color: $link_color;
      transition: all $transition;

      &:hover {
        color: $link_color;
      }
    }
  }
}
