@import "@/app/styles";

$imageSize: 60px;

.Previews {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  &-Thumb {
    &-Inner {
      position: relative;
      height: $imageSize;
      width: $imageSize;
    }

    &-Image {
      object-fit: cover;
      object-position: center;
      border: 1px solid transparent;
      border-radius: $border-radius;
    }
  }
}
