.DeleteReview {
  position: absolute;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 100%;

  &-Form {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    height: 0;
    width: 0;
  }
}
